tools
.idea
.vscode
venv
*.
VanderLindenCode
.ipynb_checkpoints
Project/code/messages
Project/messages.txt
Project/conversationDictionary.npy
Project/wordList.txt
Project/run2.py
Project/Seq2SeqXTrain.npy

Project/Seq2SeqYTrain.npy
Project/Seq2SeqXValidate.npy
Project/Seq2SeqYValidate.npy
Project/Seq2SeqXTest.npy
Project/Seq2SeqYTest.npy
Project/tensorboard
Project/tensorboard/*
Project/models
Project/models/*
Project/data/wordList.txt
Project/unusedModels



